body {
    margin: 0px;
    padding: 0px;
}

/* header seaction start */

nav {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    padding: 0px 10px !important;
    background-color: rgba(0, 0, 0, 0.1);
}

#navbar ul {
    display: flex !important;
    padding-left: 5px;
    margin-top: 10px;
    padding-top: 2px;
}

li {
    padding-left: 15px;
    margin: 0px;
    list-style: none;
    color: white;
    font-size: 140%;
    font-family: 'Manjari', sans-serif;
}

li:hover {
    font-weight: bold;
    padding-left: 15px;
    margin: 0px;
    font-size: 140%;
    cursor: pointer;
}

#logo h2 {
    margin: 5px 10px;
    padding-right: 100px;
    color: white;
    font-family: 'Lobster', cursive;
    letter-spacing: 0.9px;
    font-size: 200%;
}

#search-section {
    margin-top: 5px;
    padding: 0px 8px 0px 8px;
    padding-bottom: none;
    border: 2px solid grey;
    border-radius: 80px;
    width: 206px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: content-box;
}

#search-section input {
    border: none;
    margin-top: 5px;
    padding-top: 3px;
    background: none;
}

span {
    margin-left: 20px;
    color: #555454;
}

::placeholder {
    color: #555454;
    font-size: 140%;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #555454;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #555454;
}

.container {
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
}

header {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#main-bk {
    text-align: center;
    vertical-align: middle;
}

#main-bk h1 {
    font-size: 430%;
    color: white;
    margin-top: 20%;
    font-family: 'Montserrat', sans-serif;
}

.main-btn {
    margin: 10px 0px;
    padding: 10px 20px;
    background-color: #54d154;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    letter-spacing: 1px;
}

/* header section end */

/* what we do section start */

.whatsection {
    text-align: center;
}

#whathead h2 {
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    color: #828181;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 50px;
}

.line {
    border-bottom: 3px solid #828181;
    width: 3%;
    margin: 0 auto;
}

#whathead p {
    font-family: 'Montserrat', sans-serif;
    color: #b7b3b3;
    font-size: 1.2em;
}

section {
    display: flex !important;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 40px;
}

@media (max-width:1000px) {
    section {
        padding: 20px;
        justify-content: space-around;
    }
}

#img-section-box {
    width: 15%;
    display: flex;
    justify-content: center;
}

.bg {
    background-image: url('images/bk.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 130px;
    height: 130px;
    margin-left: 90px;
}

.card-img-top {
    padding: 16%;
}

.bg img {
    padding-top: 28px;
}

.img-box h5 {
    font-size: 21px;
    color: #828181;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 10px;
}

.img-box p {
    font-size: 16px;
    color: #828181;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: center;
}

.img-box .button {
    margin-top: 40px;
    padding: 8px 25px;
    background-color: #54d154;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    letter-spacing: 1px;
    -webkit-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
}

.card {
    margin-top: 20px;
    text-align: center;
}

/* what we do section end */

/* our latest work start  */

#latestsection {
    text-align: center;
    background-color: #54d154;
}

#olw h2 {
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    color: #278627;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 50px;
    padding-top: 50px;
}

#line {
    border-bottom: 3px solid #278627;
    width: 3%;
    margin: 0 auto;
}

#olw p {
    font-family: 'Montserrat', sans-serif;
    color: #2b9b2b;
    font-size: 1.2em;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.btn {
    padding: 8px 20px !important;
    border: 2px solid #2b9b2b !important;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    background-color: #2b9b2b !important;
    color: white !important;
    font-size: 18px !important;
    font-family: 'Montserrat', sans-serif !important;
    -webkit-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
}

.btn:hover {
    background-color: #3e8e41;
    cursor: pointer;
}

.btn2 {
    padding: 10px 30px;
    border: 2px solid #2b9b2b;
    color: #2b9b2b;
    background-color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
}

.btn2:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.btn3 {
    padding: 10px 30px;
    border: 2px solid #2b9b2b;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: none;
    background-color: white;
    color: #2b9b2b;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
}

.btn3:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.img-section {
    /* width: 70%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: 250px;   */
}

.img {
    width: 160px;
    height: 160px;
    margin: 20px 50px;
}

.view {
    background-color: #2b9b2b;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding: 2px 20px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    -webkit-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
}

.fa-arrow-right {
    margin: 0px 5px 10px 15px;
    padding-top: 10px;
}

@media (max-width:500) {
    .img {
        margin: 5px 10px;
    }
}

@media (max-width:477px) {
    .btn {
        border-radius: 30px !important;
        margin-top: 10px;
    }
    .btn2 {
        border-radius: 30px;
        margin-top: 10px;
        padding: 10px 80px !important;
    }
    .btn3 {
        border-radius: 30px;
        margin-top: 10px;
        padding: 10px 80px !important;
    }
}

/* our latest work end */

/* testimonial section start */

#testimonial-section {
    margin-top: 50px;
    text-align: center;
}

#testimonial-section h2 {
    letter-spacing: 1px;
    font-size: 1.6em;
}

.msg {
    margin-top: 50px;
    text-align: center;
}

.msg-txt {
    padding: 10px 480px;
    color: #444444;
    font-size: 1.2em;
}

.msg-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.msg-intro img {
    width: 60px;
    height: 60px;
}

.msg-name h4, .msg-post {
    margin: 6px 5px;
    padding: 0px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.msg-name h4 {
    color: #444444;
}

.msg-post {
    color: #cccccc;
    font-weight: bold;
}

.carousel-control-prev-btn, .carousel-control-next-btn {
    width: 40px !important;
    height: 40px !important;
    border: 1px solid #278627 !important;
    box-sizing: border-box !important;
    background-color: #278627 !important;
    border-radius: 100% !important;
    justify-content: center;
    outline: none !important;
}

.carousel-control-next-icon {
    margin-left: 5px;
    margin-bottom: 0px;
    margin-top: 5px;
    padding-top: 10px;
}

.carousel-control-prev-icon {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
    padding-top: 10px;
}

@media (max-width:1090px) {
    .msg-txt {
        padding: 10px 200px;
    }
    #whathead {
        margin: 10px;
    }
}

@media (max-width:1120px) {
    .msg-txt {
        padding: 10px 200px;
    }
    #whathead {
        margin: 10px;
    }
}

@media (max-width:750px) {
    .msg-txt {
        padding: 10px 200px;
    }
    #whathead {
        margin: 10px;
    }
}

@media (max-width:670px) {
    .msg-txt {
        padding: 10px 150px;
    }
    #whathead {
        margin: 10px;
    }
}

@media (max-width:500px) {
    .msg-txt {
        padding: 10px 80px;
    }
    #whathead {
        margin: 10px;
    }
}

@media (max-width:400px) {
    .msg-txt {
        padding: 10px 50px;
    }
    #whathead {
        margin: 10px;
    }
}

/* testimonial section end */

/* our happy client start */

#client-section {
    text-align: center;
    background-color: #f2f1f1;
    margin-top: 50px;
}

#ohc {
    padding-top: 2px;
}

@media (max-width:900px) {
    #ohc {
        margin: 10px;
    }
}

#ohc h2 {
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    color: #828181;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 50px;
}

#ohc p {
    font-family: 'Montserrat', sans-serif;
    color: #b7b3b3;
    font-size: 1.2em;
}

.ohc-img-section {
    height: 85px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
    justify-content: space-around;
}

.ohc-img {
    /* padding-top: 20px;
    margin: 20px 80px; */
    width: 40%;
}

.view2 {
    background-color: #dddcdc;
    border: none;
    color: #a59d9d;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding: 2px 20px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    -webkit-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
}

/* our happy client end */

/* meet the team start*/

.meet-team {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #54d154;
}

#team {
    padding-top: 2px;
}

#team h2 {
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    color: #207b20;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 50px;
}

#team p {
    font-family: 'Montserrat', sans-serif;
    color: #207b20;
    font-size: 1.2em;
}

.team-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tm-img {
    margin: 30px 70px;
}

.tm-icon {
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
}

img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.vt-line {
    border-left: 2px solid #1f7b1f;
    height: 110px;
    width: 15px;
    margin-left: 50%;
    text-align: center;
    margin-top: 10%;
}

.tm-p {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#media {
    background-color: #c5e9c5;
    margin: 2px;
    padding: 5px 2px;
    border-top-left-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
}

#media img {
    padding: 5px 5px 2px 5px;
}

#media img:hover {
    cursor: pointer;
    opacity: 0.5;
}

#work-section {
    background-color: #38ae38;
    text-align: center;
}

#work-btn {
    background-color: #53d153;
    border: none;
    color: #f4fcf4;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding: 13px 25px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.75);
}

/* meet the team end */

/* footer section start */

#footer-section {
    display: flex;
    justify-content: space-around;
    background-color: #333333;
    padding-top: 40px;
}
@media (max-width:900px){
    #footer-section{
        flex-wrap: wrap;
    }
}

.about-section {
    font-size: 13px;
    color: #cccccc;
    font-family: "Montserrat";
    text-align: center;
}
.about-section h3{
    font-size: 1.6em;
    letter-spacing: 3px;
    color: #dddddd;
    font-family: "Montserrat";
    font-weight: lighter;
    text-align: center;
}

.abt-para {
    padding: 10px 20px;
    margin: 10px 45px;
}

#media2 {
    background-color: #e6e7e6;
    margin: 0px 110px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    /* width: 110px; */
    text-align: center;
}

#media2 img {
    padding: 2px 5px 2px 5px;
}

.re-post-div {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* width: 75%; */
    /* margin: 20px 0; */
    /* padding: 10px; */
    /* border: 2px solid black; */
}

.re-post-div, .recent-img {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.rc-img {
    border-radius: 3px;
    margin: 5px 8px;
}

.txt p {
    color: #c2c2c2;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 2px;
    letter-spacing: 1.2px;
}

.txt button {
    padding: 1px 10px;
    border: none;
    font-size: 12px;
    color: white;
    border-radius: 2px;
}

.green {
    background-color: #54d154;
}

.yellow {
    background-color: #ffba00;
}

.blue {
    background-color: #089dea;
}

.orange {
    background-color: #f34d04;
}

.about-section {
    border: 2px solid black;
    width: 100%;
}

.recent-post-section {
    border: 2px solid black;
    width: 100%;
}

.contact-us-section {
    border: 2px solid black;
    width: 100%;
}

.recent-post-section h3 {
    font-size: 1.4em;
    letter-spacing: 3px;
    color: #dddddd;
    font-family: "Montserrat";
    font-weight: lighter;
    text-align: center;
}

.heading-line {
    border-bottom: 3px solid #cccccc;
    width: 10%;
    margin: 0 auto;
}


/* footer section end */